<!doctype html>

<html ng-app="MainApp">
<head>
	<title>Primer Ejemplo MEAN</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
Version  actual , pero no funciona 

-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="venta_boletos-nucleo.js"></script>
</head>

<body ng-controller="controladorPrincipal">
	<div class="container">
		<div class="jumbotron  text-center">
			<h1>Nro de registros: - {{venta_boletos.length}} -</h1>
			<legend>Autor : Guerra Guerra Jose Augusto Cesar</legend>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-1">
				<table class="table table-striped">
					<tr class="info">
						<td>Nombre</td>
						<td>Abreviatura</td>
						<td>Estado</td>
					</tr>
					<tr ng-repeat="area in areas" ng-click="selectArea(area)">
						<td>{{ area.Nombre }}</td>
						<td>{{ area.Abreviatura }}</td>
						<td>{{ area.Estado }}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-4 col-sm-offset-1 text-center">
				 <form name="form-group" method="POST">
				 	<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newArea.Nombre" required>
				 	<br>
				 	<input type="text" class="form-control input-lg text-center" placeholder="Abreviatura" ng-model="newArea.Abreviatura" required>
				 	<br>
				 	<input type="text" class="form-control input-lg text-center" placeholder="Estado" ng-model="newArea.Estado" required>
				 	<!--Acciones que se puede realizar en el formulario-->
				 	<button type="submit" class="btn btn-success btn-lg" ng-click="registrarArea()" ng-disabled="myForm.$invalid || selected">Agregar</button>
				 	<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarArea(newArea)" ng-disabled="!newArea.Nombre || !newArea.Abreviatura||!newArea.Estado||!selected">Modificar</button>
				 	<button type="submit" class="btn btn-danger btn-lg" ng-click="borrarArea(newArea)" ng-disabled="!newArea.Nombre || !newArea.Abreviatura||!newArea.Estado||!selected">Eliminar</button>
				 </form>
			</div>
		</div>

	</div>



</body>
</html>
